body{
    margin:0;
    background:#0b141a;
    font-family:Arial;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    flex-direction:column;
    text-align:center;
}
.logo{
    width:90px;
    height:90px;
    border-radius:50%;
    background:#25D366;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:45px;
}

.loader{
    width:250px;
    height:10px;
    background:#1f2c34;
    border-radius:20px;
    overflow:hidden;
    margin-top:20px;
}

.bar{
    height:100%;
    width:0%;
    background:#25D366;
    animation:load 6s linear forwards;
}

@keyframes load{
    from{width:0%;}
    to{width:100%;}
}

#final{
    display:none;
    margin-top:30px;
}

button{
    margin-top:20px;
    padding:10px 20px;
    border:none;
    background:#25D366;
    color:white;
    border-radius:8px;
    font-size:16px;
}